# rust
target/
# developer testing
test/
# mkdocs output
site/

# mcman: Exclude mcman build outputs
**/server
# mcman: Exclude env secrets
.env
# mcman: Exclude exported mrpacks
*.mrpack

# mcman: Exclude local dotenv files
**/.env

